@media only screen and (min-width: 300px){
    
    body {
        font-weight: 400;
        font-size: 1.5rem;
    }

    .container {
      width: 95%;
    }

    .header {
        height: 80vh;
    }

    .header-primary--main {
      font-size: 4rem;
      font-weight: 600;
    }
    
    .header-primary--sub {
      font-size: 1.6rem;
      font-weight: 600;
    }
    .heading-secondary {
        font-size: 1.8rem;
    }
    .icon-basic-watch, .icon-basic-todolist-pen {
        font-size: 2rem;
        font-weight: 600;
    } 
    .container--text {
        font-size: 1.2rem; 
    }
}